{
  "plugins": [
    ["prismjs", {
        "languages": ["javascript", "css", "markup", "jsx", "react"],
        "plugins": ["line-numbers"],
        "theme": "okaidia",
        "css": true
    }]
  ]
}